body
{
background-image: url('https://e0.pxfuel.com/wallpapers/293/691/desktop-wallpaper-professional-computer-background-good-professional-business.jpg');
background-size: cover;
background-repeat: no-repeat;
}
a{
color:black;
}

