body
{
background-image:url(https://thumbs.dreamstime.com/b/feathers-abstract-background-background-design-soft-colorfull-feathers-pattern-soft-fluffy-feathers-92146211.jpg);
background-size:100%;
background-repeat:no-repeat;
}
